body{
    text-align: center;
    width: 100%;
    height: 100%;
}

.App{
    
}

.header{
    top: 0;
    width: 100%;
    height: 15%;
    position: absolute;        
    background: aquamarine;
    color: #000;
    margin-left: 0%;
}

.footer{
    bottom: 0;
    width: 100%;
    height: 5%;
    position: absolute;        
    background: aquamarine;
    padding: 10px 0;
    color: #000;
}

.wrapper{
    width: 100%;
    height:80%;
}

.home{
    top: 20%;
    position: absolute;
    height: 65%;
}

.card{
    width: 10rem;
    height: 10rem;
    border: darkgray 3px solid;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
}

.tileContainer{
    width: 90%;
    display: inline-flex;
}